@mixin desktop($size: 64em) {
  @media (min-width: $size) {
    @content;
  }
}

@mixin flex($direction: row, $align: center, $justiy: center) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justiy;
}
