@mixin desktop($size: 75em) {
  @media (width <= $size) {
  }
}

@mixin flex($direction: row, $align: center, $justiy: center) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justiy;
}
